{{>partials/header}}
<section class="banner" style="background-image: url('img/allanimals.jpg')">Todos os animais</section>
<h2>Todos os animais disponíveis para adoção</h2>

<div class="container list">
    <div class="item">
        <img src="img/pastor-alemao.jpg" class="item--image" />
        <div class="item--name">Pastor-alemão</div>
        <div class="item--color">Cor: Amarelo e Preto</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="img/labrador.jpg" class="item--image" />
        <div class="item--name">Labrador-retriever</div>
        <div class="item--color">Cor: Branco</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="img/zwergspitz.jpg" class="item--image" />
        <div class="item--name">Zwergspitz</div>
        <div class="item--color">Cor: Amarelo</div>
        <div class="item--genre">Gênero: Feminino</div>
    </div>
    <div class="item">
        <img src="img/husky.jpg" class="item--image" />
        <div class="item--name">Husky Siberiano</div>
        <div class="item--color">Cor: Branco e Preto</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="img/golden.jpg" class="item--image" />
        <div class="item--name">Golden Retriever</div>
        <div class="item--color">Cor: Amarelo</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="img/poodle.jpg" class="item--image" />
        <div class="item--name">Poodle</div>
        <div class="item--color">Cor: Branco</div>
        <div class="item--genre">Gênero: Feminino</div>
    </div>
    <div class="item">
        <img src="img/bulldog.jpg" class="item--image" />
        <div class="item--name">Bulldog</div>
        <div class="item--color">Cor: Branco e Amarelo</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="img/persa.jpg" class="item--image" />
        <div class="item--name">Persa</div>
        <div class="item--color">Cor: Amarelo</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="img/mainecoon.jpg" class="item--image" />
        <div class="item--name">Maine Coon</div>
        <div class="item--color">Cor: Preto e Branco</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="img/bengal.jpg" class="item--image" />
        <div class="item--name">Bengal</div>
        <div class="item--color">Cor: Branco, Preto e Amarelo</div>
        <div class="item--genre">Gênero: Feminino</div>
    </div>
    <div class="item">
        <img src="img/siames.jpg" class="item--image" />
        <div class="item--name">Siamês</div>
        <div class="item--color">Cor: Amarelo e Preto</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="img/sphynx.jpg" class="item--image" />
        <div class="item--name">Sphynx</div>
        <div class="item--color">Cor: Branco</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="img/neon.jpg" class="item--image" />
        <div class="item--name">Tetra Neon</div>
        <div class="item--color">Cor: Vermelho e Azul</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="img/matogrosso.jpg" class="item--image" />
        <div class="item--name">Mato Grosso</div>
        <div class="item--color">Cor: Laranja</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="img/limpavidro.jpg" class="item--image" />
        <div class="item--name">Limpa Vidro</div>
        <div class="item--color">Cor: Verde e Branco</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="img/tanictis.jpg" class="item--image" />
        <div class="item--name">Tanictis</div>
        <div class="item--color">Cor: Vermelho</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="img/acara.jpg" class="item--image" />
        <div class="item--name">Acará Bandeira</div>
        <div class="item--color">Cor: Preto</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
</div>
{{>partials/footer}}